/*
 Name: IP Adress Tracker
 Description: A Frontendmentor.io coding challenge.
 Author: Federico Borzani
 GitHub: https://github.com/eserengo/
*/

$DarkGray: hsl(0, 0%, 17%);
$Gray: hsl(0, 0%, 59%);
$Red: hsl(0, 50%, 50%);
$White: hsl(0, 0%, 99%);

:root {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  user-select: none;
}

body {
  min-height: 100vh;
  min-width: 200px;
}

[v-cloak] {
  display: none;
}

header {
  background-image: url("./assets/images/pattern-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  height: 25vh;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .label {
    font-size: 1.5rem;
    color: $White;
    font-weight: 700;
  }

  .section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0.5rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 8px $DarkGray;

    .input {
      font-family: "Oswald", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      color: $DarkGray;
      width: 85%;
      height: 2rem;
      padding: 0rem 0.5rem;
      border: 1px solid $DarkGray;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .btn {
      background-color: $DarkGray;
      width: 15%;
      height: 2rem;
      border: none;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      &:hover {
        cursor: pointer;
        opacity: 90%;
      }
    }
  }

  .error {
    color: $Red;
    font-weight: 700;
  }
}

.info {
  position: absolute;
  bottom: 1.5rem;
  left: 5%;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: $White;
  z-index: 9999;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 2px 8px $DarkGray;

  div {
    text-align: center;
    padding: 0.5rem;
  }

  p {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $Gray;
  }

  h2 {
    font-size: 1rem;
    color: $DarkGray;
    font-weight: 700;
  }
}

main > h2 {
  font-size: 1rem;
  color: $DarkGray;
  font-weight: 700;
  text-align: center;
}

@media screen and (width > 450px) {
  header {
    background-image: url("./assets/images/pattern-bg-desktop.png");
  }

  .info {
    flex-direction: row;
    align-items: stretch;
    padding: 1rem;
  }
}